* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(11, 186, 206);
    color: black;
}

.header h1{
    font-size: 35px;
    display: inline-block;
}

.header nav {
    padding-top: 15px;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
}
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 40px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 0 0;
    padding: 3px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin: 1px;
    background-color: black;
}

.card h2 {
    text-align: center;
    background-color: rgb(11, 186, 206);
    padding: 10px;
}

.card img {
    width: 100%;
    min-width: 600px;
}

.projects {
    flex: 4;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

aside {
    flex: 1;
    background-color: rgb(11, 186, 206);
    padding: 70px;
    text-align: center;
    
}

.footer {
    padding: 20px;
    text-align: center;
    background: rgb(11, 186, 206);
    color: #fff;
}
  
@media screen and (max-width: 768px) {
    main,
    nav {
        flex-direction: column;
    }
}
