* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --back: rgb(0, 68, 89);
    --word: white; 
}

body{
    background-color: rgb(0, 0, 0);
}

.header {
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--back);
    color: var(--word);
}

 .header img {
    max-width: 80px;
}

h1 {
    font-size: 35px;
    float: left;
    padding-top: 15px;
}

.header nav {
    padding-top: 30px;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
}
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 80px;
}

a {
    color: var(--word);
}

main {
    display: flex;
    font-size: 20px;
}

.Developer {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: black;
}

.card {
    flex: 1 0 0;
    padding: 3px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin: 1px;
    background-color: black;
}

.card h2 {
    text-align: center;
    background-color: var(--back);
    padding: 10px;
}

.card img {
    width: 100%;
    min-width: 600px;
}

.projects {
    flex: 4;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-wrap: wrap-reverse;
    color: var(--word);
}

.about {
    flex: 1;
    background-color: var(--back);
    padding: 15px;
    text-align: center;
    margin: 1px 0px;
    color: var(--word);
    
}

.about aside h2 {
    margin-top: 75%;
}

.footer {
    padding: 20px;
    text-align: center;
    background: var(--back);
    color: var(--word);
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    main,
    .header nav, 
    .footer {
       font-size: 30px;
    }
 }
